<?xml version="1.0" encoding="UTF-8"?>
<config>
  <parser class="com.budgetmaster.budgetmaster.dcu.DcuStatementPdf" id="DCU Bank account statement" currency="USD">
    <path-matcher>glob:**/dcu/*.pdf</path-matcher>
  </parser>
  <parser class="com.budgetmaster.budgetmaster.dcu.DcuCcStatementPdf" id="DCU credit card statement" currency="USD">
    <path-matcher>glob:**/dcu_cc/*.pdf</path-matcher>
  </parser>
  <parser class="com.budgetmaster.budgetmaster.tdbank.TdBankCcStatementCsv" id="TD Bank credit card statement" currency="USD">
    <path-matcher>glob:**/tdbank_cc/*.csv</path-matcher>
  </parser>
  <parser class="com.budgetmaster.budgetmaster.tdbank.TdBankStatementPdf" id="TD Bank account statement" currency="USD">
    <path-matcher>glob:**/tdbank/*.pdf</path-matcher>
  </parser>

  <matcher id="DCU_CC">
      <field name="Statement-id" regexp="DCU credit card statement"/>
  </matcher>

  <matcher id="TD_CC">
      <field name="Statement-id" regexp="TD Bank credit card statement"/>
  </matcher>

  <matcher id="TD">
      <field name="Statement-id" regexp="TD Bank account statement"/>
  </matcher>

  <matcher id="DCU">
      <field name="Statement-id" regexp="DCU Bank account statement"/>
  </matcher>

  <matcher id="final">
      <tag>final</tag>
  </matcher>

  <pass id="identity"/>

  <pass id="discards">
    <action>
      <matcher>
        <matcher ref="TD_CC"/>
        <description>^PAYMENT\s+RECEIVED\b</description>
      </matcher>
      <matcher>
        <matcher ref="DCU_CC"/>
        <description>^(PAYMENT-PAYOFF|LOAN PAYMENT-TRANSFER)\b</description>
      </matcher>
      <matcher>
        <!-- Pay balance of TD CC from TD Bank checking account -->
        <matcher ref="TD"/>
        <description>^eTransfer Debit, Online Xfer Transfer to CC 4839505455423233$</description>
      </matcher>
      <matcher>
        <!-- Transfer between saving & checking accounts -->
        <matcher ref="DCU"/>
        <description>^TRANSFER FROM/TO [2|1]\b</description>
      </matcher>
      <matcher>
        <!-- Pay balance of DCU CC from DCU checking account -->
        <matcher ref="DCU"/>
        <description>^PAYMENT SHR TRANSFER FROM/TO 141$</description>
      </matcher>
      <tag>discarded</tag>
      <discard/>
    </action>
  </pass>

  <pass class="com.budgetmaster.budgetmaster.paypal.PayPalRecordsMapperBuilder"
        id="merge-with-paypal">
    <matcher>
      <description>\bPAYPAL\b</description>
    </matcher>
    <date-diff-days>5</date-diff-days>
    <amount-diff>0.1</amount-diff>
    <source-csv>${PAYPAL_CSV}</source-csv>
    <source-csv>C:\Users\asemenyu\Downloads\$\paypal\paypal.csv</source-csv>
    <unclaimed-collector-csv>${PAYPAL_UNCLAIMED_CSV}</unclaimed-collector-csv>
    <unclaimed-collector-csv>--</unclaimed-collector-csv>
  </pass>

  <pass id="discard-matched-paypal-records">
    <action>
      <matcher>
        <tag>paypal</tag>
      </matcher>
      <discard/>
    </action>
  </pass>

  <pass class="com.budgetmaster.budgetmaster.amazon.AmazonRecordsMapperBuilder"
        id="merge-with-amazon">
    <matcher>
      <description>\b(AMAZON|AMZN)\b</description>
    </matcher>
    <date-diff-days>10</date-diff-days>
    <orders-csv>${AMAZON_ORDERS_CSV}</orders-csv>
    <refunds-csv>${AMAZON_REFUNDS_CSV}</refunds-csv>
    <unclaimed-orders-collector-csv>${AMAZON_UNCLAIMED_ORDERS_CSV}</unclaimed-orders-collector-csv>
    <unclaimed-refunds-collector-csv>${AMAZON_UNCLAIMED_REFUNDS_CSV}</unclaimed-refunds-collector-csv>
  </pass>

  <pass id="main">
    <action>
      <matcher>
        <description>^GULF\s+OIL\b</description>
      </matcher>
      <matcher>
        <description>^SPEEDWAY\b</description>
      </matcher>
      <matcher>
        <description>^SHELL OIL\b</description>
      </matcher>
      <matcher>
        <matcher ref="TD_CC"/>
        <category>^GAS$</category>
      </matcher>
      <tag>final</tag>
      <category>бензин</category>
    </action>

    <action>
      <matcher>
        <description>^David Aitcheson$</description>
        <tag>paypal</tag>
      </matcher>
      <tag>final</tag>
      <category>аренда и коммуналка</category>
    </action>

    <action>
      <matcher>
        <description>^E-ZPASS\b</description>
      </matcher>
      <tag>final</tag>
      <category>цивик</category>
    </action>

    <action>
      <matcher>
        <matcher ref="DCU"/>
        <description>^PAYMENT SHR TRANSFER FROM/TO 142$</description>
      </matcher>
      <tag>final</tag>
      <category>цивик</category>
      <description>Кредит за цивик</description>
    </action>

    <action>
      <matcher>
        <description>\bLIBERTY MUTUAL\b</description>
      </matcher>
      <tag>final</tag>
      <category>цивик</category>
      <description>Страховка</description>
    </action>

    <action>
      <matcher>
        <description><![CDATA[\b(STAR MARKET|TRADER JOE'S|STOP & SHOP|A RUSSO & SONS|ARAX MARKET|NEW DEAL FISH MARKET)\b]]></description>
      </matcher>
      <tag>final</tag>
      <category>еда в магазине</category>
    </action>

    <action>
      <matcher>
        <description>\bUBER|MBTA|LYFT|Lyft|Uber\b</description>
      </matcher>
      <tag>final</tag>
      <category>такси</category>
    </action>

    <action>
      <matcher>
        <description>^THAMES STREET IYAC\b</description>
      </matcher>
      <tag>final</tag>
      <category>алкоголь</category>
      <description>Попил пиво после гонок в Ньюпорте</description>
    </action>

    <action>
      <matcher>
        <description>^MARATHON SPORTS\b</description>
      </matcher>
      <tag>final</tag>
      <category>спорт</category>
    </action>

    <action>
      <matcher>
        <description>\bWINE\b</description>
      </matcher>
      <tag>final</tag>
      <category>алкоголь</category>
    </action>

    <action>
      <matcher>
        <description>^VZWRLSS\*APOCC VISN 800-922-0204 FL$</description>
      </matcher>
      <matcher>
        <description>^VESTA \*T-MOBILE 888-278-3397 OR$</description>
      </matcher>
      <tag>final</tag>
      <category>мобилка</category>
    </action>

    <action>
      <matcher>
        <description>^CCI NETWORK DRIVE\b</description>
      </matcher>
      <tag>final</tag>
      <category>покушал</category>
      <description>В столовке на работе</description>
    </action>

    <action>
      <matcher>
        <description>^SQ *FORTISSIMO COF SOMERVILLE MA$</description>
      </matcher>
      <tag>final</tag>
      <category>покушал</category>
      <description>Фортиссимо в Сомервиле</description>
    </action>

    <action>
      <matcher>
        <description>^SUBWAY\b</description>
      </matcher>
      <tag>final</tag>
      <category>покушал</category>
      <description>SUBWAY</description>
    </action>

    <!-- Subscriptions -->
    <action>
      <matcher>
        <description>\bSpotify USA Inc\b</description>
      </matcher>
      <tag>final</tag>
      <category>подписка</category>
      <description>Spotify</description>
    </action>

    <action>
      <matcher>
        <description>^AMAZON PRIME AMZN.COM/BILLWA$</description>
      </matcher>
      <tag>final</tag>
      <category>подписка</category>
      <description>За Амазон</description>
    </action>

    <action>
      <matcher>
        <matcher ref="TD"/>
        <description>\bORACLE AMERICA SALARY\b</description>
      </matcher>
      <tag>final</tag>
      <category>доход</category>
      <description>Зарплата</description>
    </action>

    <action>
      <matcher>
        <matcher ref="DCU"/>
        <description>^DIVIDEND$</description>
      </matcher>
      <tag>final</tag>
      <category>доход</category>
      <description>Проценты по сберегательному счету DCU</description>
    </action>

    <action>
      <matcher>
        <description>^(WEST MARINE|INTENSITYSAILS|NAUTOS-USA LLC|Vela Sailing Supply|West Coast Sailing|Discount Marine Supplies)\b</description>
      </matcher>
      <tag>final</tag>
      <category>яхтинг</category>
    </action>

    <action>
      <matcher>
        <description>^David Kahn$</description>
        <tag>paypal</tag>
      </matcher>
      <tag>final</tag>
      <category>яхтинг</category>
      <description>Платил за лазер #188122 David Kahn</description>
    </action>

    <action>
      <matcher>
        <description>^Newport Laser Fleet, Inc.$</description>
        <tag>paypal</tag>
      </matcher>
      <tag>final</tag>
      <category>яхтинг</category>
      <description>Гонки в Ньюпорте</description>
    </action>

    <action>
      <matcher>
        <description>^REGATTA NETWORK$\b</description>
      </matcher>
      <tag>final</tag>
      <category>яхтинг</category>
      <description>За регату (не помню какую)</description>
    </action>

    <action>
      <matcher>
        <description>\bTHE UPS STORE\b</description>
      </matcher>
      <tag>final</tag>
      <category>всякое</category>
      <description>Что-то делал в UPS</description>
    </action>

  </pass>

  <matcher id="shopping">
    <or>
      <description>\b(AMAZON|AMZN)\b</description>
      <category>^SHOPPING$</category>
    </or>
  </matcher>

  <filter-excludings id="filter-excludings">
    <matcher>
      <matcher ref="shopping"/>
      <not><matcher ref="final"/></not>
    </matcher>
    <!--
      Maximum distance between two matching transactions in days.
    -->
    <period-days>100</period-days>
    <!--
      The first of matching transactions should be adding to the balance.
      The second of matching transactions should be removing from the balance.
    -->
    <refund/>
    <negate/>
  </filter-excludings>

  <filter-excludings id="filter-excludings-2">
    <matcher>
      <not><matcher ref="shopping"/></not>
      <not><matcher ref="final"/></not>
    </matcher>
    <negate/>
  </filter-excludings>

</config>
