<?xml version="1.0" encoding="UTF-8"?>
<config>
  <parser class="com.budgetmaster.budgetmaster.DcuStatementPdf" id="DCU Bank account statement">
    <path-matcher>glob:**/stmt_????????.pdf</path-matcher>
  </parser>
  <parser class="com.budgetmaster.budgetmaster.DcuCcStatementPdf" id="DCU credit card statement">
    <path-matcher>glob:**/dcu_stmt_??????.pdf</path-matcher>
  </parser>
  <parser class="com.budgetmaster.budgetmaster.TdBankCcStatementCsv" id="TD Bank credit card statement">
    <path-matcher>glob:**/transactions_????-??-??.csv</path-matcher>
  </parser>
  <parser class="com.budgetmaster.budgetmaster.TdBankStatementPdf" id="TD Bank account statement">
    <path-matcher>glob:**/View PDF Statement_????-??-??.pdf</path-matcher>
  </parser>

  <matcher id="gas_gulfoil">
      <field name="Description" regexp="^GULF\s+OIL.*$"/>
  </matcher>  
  <matcher id="gas_speedway">
      <field name="Description" regexp="^SPEEDWAY.*$"/>
  </matcher>
  
  <pass>
    <action>
      <matcher ref="gas_gulfoil"/>
      <matcher ref="gas_speedway"/>
      <set-category>бензин</set-category>
    </action>
    
    <action>
      <matcher>
        <field name="Description" regexp="^E-ZPASS.*$"/>
      </matcher>
      <set-category>цивик</set-category>
    </action>
    
    <action>
      <matcher>
        <field name="Description" regexp="^PAYMENT\s+RECEIVED.*$"/>
      </matcher>
      <discard/>
    </action>    
  </pass>
</config>
